body {
	font-size: 16px;
}

p, header {
	margin: 0px;
	padding: 0px;
}

h1 {
	padding-left: 50px;
}

#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 0;
}

.navbar-header {
	padding-right: 20px;
}

.container {
	margin: 0px;
	padding: 0px;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { 
  color: blue;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav {
	padding: 0px;
	margin: 0px;
}

#nav-list {
	padding: 0px;
	margin: 0px;
	/*text-align: center;*/
	background-color: red;
	color: white;
	text-decoration: none;
	list-style-type: none;
}

#nav-list li {
	border: 1px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid red;
}
